.ImageViewer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  border: dashed red;
}

.ScrollBox {
  grid-area: 2 / 2 / 9 / 5;
  border: dashed blue;
}

.WelcomeText {
  grid-area: 1 / 2 / 2 / 5;
}
